* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Verdana;
}

a {
    text-decoration: none;
}

li {
    list-style: none;
}

/* NAVBAR STYLING STARTS */

.navbar {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 8px;
    background-color: #333;
    color: #fff;
    font-family: Arial;


}

.nav-links a {
    color: #fff;
}

/* NAVBAR MENU */

.menu {
    display: flex;
    gap: 1em;
    font-size: 18px;
    color: black;
}

.menu li:hover {
    background-color: #555;
    border-radius: 5px;
    transition: 0.3s ease;
}

.menu li {
    padding: 5px 14px;
}

/*              breadcrumb                */

.breadcrumb {
    background-color: #ECECEC;
    padding: 6px;
}

/*          middle  contents          */

.middlePic {
    max-width: 40%;
    margin-left: auto;
    margin-right: auto;
    margin-top: 1rem;
    position: relative;
}

.middle-title {
    font-style: italic;
    font-weight: bold;
    padding-top: 2rem;
    text-align: center;
}

.middle-context {
    font-style: italic;
    padding-top: 1rem;
    text-align: center;

}


.container {
    margin-top: 4rem;
    background-color: #D8D8D8;
}

.gtrPictures1 {
    max-width: 600px;
    padding-top: 1rem;

}

.gtrPictures2 {
    max-width: 600px;
    padding-top: 2rem;
    padding-bottom: 1rem;

}

.gtrText-head {
    font-size: 20px;
    text-align: justify;
    padding-top: 3rem;
    font-style: italic;
    font-weight: bold;
}

.gtrText1 {
    font-size: 18px;
    text-align: justify;
    padding-top: -1rem;
    font-style: italic;

}

.gtrText2 {
    font-size: 18px;
    text-align: justify;
    padding-top: -1rem;
    font-style: italic;

}


/* ---------------------------------FOOTER --------------------------- */

footer {
    position: absolute;
    background-color: #333;
    color: white;
    text-align: center;
    bottom: -60rem;
    padding: 10px;
    width: 100%;

}

/* ------------------ APPLYING MEDIA QUERIES 1080 ------------------ */

@media (max-width: 1080px) {

    /* NAVBAR MENU */
    .menu {
        display: flex;
        gap: 1em;
        font-size: 18px;
        color: black;
    }

    .menu li:hover {
        background-color: #555;
        border-radius: 5px;
        transition: 0.3s ease;
    }

    .menu li {
        padding: 5px 14px;
    }

    .gtrPictures1 {
        max-width: 520px;
        padding-top: 1.5rem;
    }

    .gtrPictures2 {
        max-width: 520px;
        padding-top: 2rem;
        padding-bottom: 1rem;

    }

    .gtrText-head {
        font-size: 18px;
        text-align: justify;
        padding-top: 3rem;
        font-style: italic;
        font-weight: bold;
    }

    .gtrText1 {
        font-size: 16px;
        text-align: justify;
        padding-top: 1rem;
        font-style: italic;

    }

    .gtrText2 {
        font-size: 16px;
        text-align: justify;
        padding-top: 1rem;
        font-style: italic;

    }


    footer {
        position: absolute;
        background-color: #333;
        color: white;
        text-align: center;
        bottom: -72rem;
        padding: 10px;
        width: 100%;

    }
}

/* ------------------ APPLYING MEDIA QUERIES 1024 ------------------ */

@media (max-width: 1024px) {

    /* NAVBAR MENU */

    .menu {
        display: flex;
        gap: 1em;
        font-size: 18px;
        color: black;
    }

    .menu li:hover {
        background-color: #555;
        border-radius: 5px;
        transition: 0.3s ease;
    }

    .menu li {
        padding: 5px 14px;
    }

    .gtrPictures1 {
        max-width: 520px;
        padding-top: 1.5rem;
    }

    .gtrPictures2 {
        max-width: 520px;
        padding-top: 2rem;
        padding-bottom: 1rem;

    }

    .gtrText-head {
        font-size: 18px;
        text-align: justify;
        padding-top: 3rem;
        font-style: italic;
        font-weight: bold;
    }

    .gtrText1 {
        font-size: 16px;
        text-align: justify;
        padding-top: 1rem;
        font-style: italic;

    }

    .gtrText2 {
        font-size: 16px;
        text-align: justify;
        padding-top: 1rem;
        font-style: italic;

    }


    footer {
        position: absolute;
        background-color: #333;
        color: white;
        text-align: center;
        bottom: -70rem;
        padding: 10px;
        width: 100%;

    }
}

/* ------------------ APPLYING MEDIA QUERIES 768 ------------------ */

@media (max-width: 768px) {

    /* NAVBAR MENU */

    .menu {
        display: flex;
        gap: 1em;
        font-size: 18px;
        color: black;
    }

    .menu li:hover {
        background-color: #555;
        border-radius: 5px;
        transition: 0.3s ease;
    }

    .menu li {
        padding: 5px 14px;
    }

    .gtrPictures1 {
        max-width: 370px;
        padding-top: 1.5rem;
    }

    .gtrPictures2 {
        max-width: 380px;
        padding-top: 2rem;
        padding-bottom: 1rem;

    }

    .gtrText-head {
        font-size: 16px;
        text-align: justify;
        padding-top: 3rem;
        font-style: italic;
        font-weight: bold;
    }

    .gtrText1 {
        font-size: 14px;
        text-align: justify;
        padding-top: .1rem;
        font-style: italic;

    }

    .gtrText2 {
        font-size: 14px;
        text-align: justify;
        padding-top: .1rem;
        font-style: italic;

    }

    li {
        font-size: 14px;
        text-align: justify;
        padding-top: 1rem;
        font-style: italic;
    }


    footer {
        position: absolute;
        background-color: #333;
        color: white;
        text-align: center;
        bottom: -68rem;
        padding: 10px;
        width: 100%;

    }

}
